/* start variable */

/* end variable */
/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
ul{
    list-style: none;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
}
/* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width:1170px ;
    }
}
/* end global rules*/
/* start header */
header{
    padding: 20px 0px;
    border-bottom: 2px solid white;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header .container nav{
    display: flex;
}
header .container nav a{
    margin-top:15px ;
    color: white;
    display: inline-block;
    text-decoration: none;
    position: relative;
}
header .container nav a:hover,header .container nav a.active{
    color: #54bfea;
}
header .container nav a:hover::before,header .container nav a.active::before{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #54bfea;
    bottom: -28.3px;
}
header .container ul{
    display: flex;
    margin-right:30px;
}
header .container ul li{
    margin-right: 10px;
}
header .form{
    color: white;
    position: relative;
    top: 15px;
}
header .form::before{
    position: absolute;
    content: "";
    background-color: white;
    width: 1px;
    height: 20px;
    left: -10px;
    top: -2px;
}

@media (max-width:767px){
   header .container ul{
    display: none ;
   }
   header nav{
    width: 80px;
   }
   header nav .hidden{
    position: relative;
    display: grid;
    width: 30px;
    height: 20px;
    /* grid-template-rows:repeat(3,1fr) ; */
    transform: translate(-20px,14px);
    gap: 5px;
   }
   header nav .hidden div{
    background-color: white;
   }
   header .container nav:hover ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    padding: 20px 5px;
   }
   header .container nav a:hover::before,header .container nav a.active::before{
    display: none !important;
   }
}
/* end header */